QMainWindow {
    background-color: #FFFFFF;
    color: #000000;
}

QTextEdit {
    background-color: #FFFFFF;
    color: #000000;
}

QMenuBar {
    background-color: #FFFFFF;
    color: #000000;
}

QToolBar {
    background-color: #FFFFFF;
    color: #000000;
}
